h1 {
    margin-left: 5%;
    margin-right: 5%;
    color: #cebc4a;
    background-color: #573B8D;
    border: thin groove #9baab2;
  }

p {
    font-family: verdana;
    text-align: center;
}
ul, ol { font-family: verdana;
          color: red;}
