h1 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: #cebc4a;
    background-color: #573B8D;
    border: thin groove #9baab2;
    text-align: center;
  }

p {
    font-family: verdana;
    margin-left: 2%;
}
ul, ol { font-family: verdana;

        }
table {
    font-family: verdana;
    text-align: center;

}
dt {
  margin-left: 2%


}
