h1 {
    margin-left: 1.5%;
    margin-right: 1.5%;
    color: #cebc4a;
    background-color: #573B8D;
    border: thin groove #9baab2;
    text-align: center;
  }

p {
    font-family: verdana;
    margin-left: 2%;
  }
ul, ol { font-family: verdana;
  padding-left: 0;
}
ul li {
  border-left : 2px solid red;
  padding : 4px;
  list-style : none;
  display : inline;
}
table {
    font-family: verdana;
    text-align: center;
  }
dt {
  margin-left: 2%;
}
nav {
  width: 285px;
  font-family: verdana;
  background-color: #90bade;
  color: #333;
  border: 1px solid black; padding: 4px;
}
